.calculator{
  padding: 152px 0 0;
  .calculator__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 80px 0;
    h1{
      @include adaptiv-value("font-size", 120, 45, 1);
      font-family: "Service gothic", sans-serif;
      line-height: 1;
      letter-spacing: -0.03em;
      font-weight: 600;
      color: $light;
      text-transform: uppercase;
    }
    &-img{
      display: block;
      @include adaptiv-value("height", 296, 180, 1);
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .calculator__subtitle{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 20px;
    padding: 0 0 25px 0;

    h3{
      text-transform: uppercase;
      color: $light;
      font: bold 28px/1.2 "Service gothic", sans-serif;
      margin-bottom: 7px;
    }
    .calculator__subtitle-item:nth-child(2) p{
      max-width: 480px;
    }
  }
  .calculator__tabs{
    button{
      margin: 25px 0 0 57.6%;
    }
  }
  .tabs{
    display: grid;
    grid-template-columns: 23.75% 3fr;
    column-gap: 20px;
    .tabs__caption{
      .btn.active{
        background-color: $main_color;
        color: $black;
      }
      .btn{
        display: block;
        background-color: $black;
        color: $light;
        border: none;
        transition: all .3s;
        min-width: initial;
        & + .btn{
          margin-top: 32px;
        }
      }
    }
    .tabs__content {
      display: none;
    }
  }
  .tabs__content.active{
    display: grid;
    padding: 0 0 86px 0;
  }
  .tabs__content {
    grid-template-columns: 65.7% 1fr;
    column-gap: 20px;
  }
  .table-1{
    display: grid;
    grid-template-columns: minmax(auto, 68.12%) minmax(220px,1fr);
    border: 1px solid $black;
    &__item{
      min-height: 120px;
      padding: 22px;
      border: 1px solid $black;
      display: grid;
      align-items: center;
      h4{
        font: bold 24px/29px "Service gothic", sans-serif;
      }
      h5{
        font: bold 18px/26px "Service gothic", sans-serif;
        letter-spacing: -0.01em;
        color: $black;
      }
      .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      span{
        font: bold 18px/26px "Service gothic", sans-serif;
        letter-spacing: -0.01em;
        color: $black;
      }
      label {
        position: relative;
        display: inline-block;
        picture{
          border: 2px solid $black;
          width: 32px;
          height: 32px;
          position: absolute;
          right: 0;
          img{
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
          }
        }
      }
      input{
        max-width: 133px;
        width: 100%;
        padding: 0 35px 0 10px;
        color: $black;
        font: normal 18px/26px "Moderat",sans-serif;
        letter-spacing: -0.01em;
        height: 32px;
        border-top: 2px solid $black;
        border-left: 2px solid $black;
        border-bottom: 2px solid $black;
      }
      select{
        max-width: 132px;
        width: 100%;
        color: $black;
        font: normal 18px/26px "Moderat",sans-serif;
        letter-spacing: -0.01em;
        height: 32px;
        border: 2px solid $black;
        padding: 0 0 0 5px;
      }
    }
    &__item:nth-child(odd){
      text-align: left;
    }
    &__item:nth-child(even){
      text-align: right;
    }
    @media (min-width: 768px){
      &__item:nth-child(1){
        min-height: 90px;
      }
      &__item:nth-child(2){
        min-height: 90px;
      }
      &__item:nth-child(3){
        min-height: 148px;
      }
      &__item:nth-child(4){
        min-height: 148px;
      }
    }

  }
  .table-1-5-rows{
    @extend .table-1;
    @media (min-width: 768px) {
      & .table-1__item:nth-child(odd){
        text-align: left;
      }
      & .table-1__item:nth-child(even){
        text-align: right;
      }
      & .table-1__item:nth-child(1){
        min-height: 90px;
      }
      & .table-1__item:nth-child(2){
        min-height: 90px;
      }
      & .table-1__item:nth-child(3){
        min-height: 90px;
      }
      & .table-1__item:nth-child(4){
        min-height: 90px;
      }
      & .table-1__item:nth-child(5){
        min-height: 200px;
      }
      & .table-1__item:nth-child(6){
        min-height: 200px;
      }
      & .table-1__item:nth-child(7){
        min-height: 170px;
      }
      & .table-1__item:nth-child(8){
        min-height: 170px;
      }
      & .table-1__item:nth-child(9){
        min-height: 170px;
      }
      & .table-1__item:nth-child(10){
        min-height: 170px;
      }
    }
  }

  .table-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid $black;
    text-align: right;
    @media (max-width: 768px)  {
      display: none;
    }
    .table-2__item{
      min-height: 120px;
      padding: 22px;
      border: 1px solid $black;
      display: grid;
      align-items: center;
      h5{
        font: bold 18px/26px "Service gothic", sans-serif;
        letter-spacing: -0.01em;
        color: $black;
        @media (min-width: 992px) {
          white-space: nowrap;
        }
      }
      &:nth-child(1){
        min-height: 90px;
        text-align: left;
      }
      &:nth-child(2){
        min-height: 90px;
        text-align: left;
      }
      &:nth-child(3){
        min-height: 148px;
      }
      &:nth-child(4){
        min-height: 148px;
      }
    }
  }
  .table-2-one-column{
    display: grid;
    grid-template-columns:1fr;
    border: 1px solid $black;
    @media (max-width: 768px)  {
      display: none;
    }
    h5{
      font: bold 18px/26px "Service gothic", sans-serif;
      letter-spacing: -0.01em;
      color: $black;
    }
    & .table-2__item{
      min-height: 120px;
      padding: 22px;
      border: 1px solid $black;
      display: grid;
      align-items: center;
    }
    & .table-2__item:nth-child(1){
      min-height: 90px;
    }
    & .table-2__item:nth-child(2){
      min-height: 148px;
    }
  }
  .table-2-one-column-5-rows{
    display: grid;
    grid-template-columns:1fr;
    border: 1px solid $black;
    @media (max-width: 768px)  {
      display: none;
    }
    h5{
      font: bold 18px/26px "Service gothic", sans-serif;
      letter-spacing: -0.01em;
      color: $black;
    }
    & .table-2__item{
      min-height: 90px;
      padding: 22px;
      border: 1px solid $black;
      display: grid;
      align-items: center;
    }
    & .table-2__item:nth-child(3){
      min-height: 200px;
    }
    & .table-2__item:nth-child(4){
      min-height: 170px;
    }
    & .table-2__item:nth-child(5){
      min-height: 170px;
    }
  }

  #marquee4{
    height: 60px;
    padding: 13px;
  }
  @media (max-width: 1300px) {
    .tabs{
      grid-template-columns: 1fr;
    }
    .tabs__caption{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 30px;
    }
    & .tabs .tabs__caption .btn {
      width: 240px;
      & + .btn{
        margin-top: 0;
      }
    }
    .calculator__tabs button{
      display: block;
      margin: 25px auto;
    }
  }
  @media (max-width: 992px){
    .tabs__content.active .table-1 .table-1__item{
      padding: 10px;
    }
    .tabs__content.active .table-2 .table-2__item{
      padding: 10px;
    }
    .table-1__item.samples-mobile-table{
      text-align: left;
    }
    .table-1-5-rows .table-1__item.samples-mobile-table{
      text-align: left;
    }
  }

  @media (max-width: 768px){

      padding: 100px 0 0;

    .tabs__content.active .table-1 .table-1__item:nth-child(odd){
      padding: 15px;
    }
    .tabs__content.active .table-1 .table-1__item:nth-child(1){
      border-radius: 14px 0 0 0;
    }
    .tabs__content.active .table-2 .table-2__item{
      padding: 15px 20px;
    }
    .table-1,
    .table-2{
      font-size: 14px;
      line-height: 18px;
    }
    .table-1__item h5,
    .table-1__item span{
      font: bold 14px/26px "Service gothic",sans-serif;
      letter-spacing: -0.01em;
    }
    .table-2 .table-2__item h5,
    .table-2 .table-2__item span{
      font: bold 14px/26px "Service gothic",sans-serif;
      letter-spacing: -0.01em;
    }
    .table-2 .table-2__item:nth-child(odd) {
      text-align: left;
    }
    .table-2 .table-2__item:nth-child(even) {
      text-align: right;
    }
    .table-1__item .row{
      column-gap: 5px;
    }
    .tabs__content{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
    }
    .tabs__content.active{
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0;
      padding: 20px 0 30px 0;
    }
    .table-1{
      grid-template-columns: minmax(auto, 62.985075%) minmax(124px, 37.313433%);
      border-radius: 14px 14px 0 0;
      overflow: hidden;
    }

    .calculator__subtitle {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
      column-gap: 20px;
      padding: 0 0 25px 0;
    }
    .calculator__subtitle-item:nth-child(1){
      text-align: center;
      justify-self: center;
      max-width: 290px;
    }
    .calculator__subtitle-item:nth-child(2){
      text-align: center;
      justify-self: center;
      max-width: initial;
      h3{
        text-transform: uppercase;
        color: $light;
        font: bold 28px/1.2 "Service gothic",sans-serif;
        margin-bottom: 7px;
      }
    }
    //mobile tabs
    .tabs .tabs__caption{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      font: 700 18px/21.6px "Service gothic",sans-serif;
      color: $black;
      text-transform: uppercase;
      box-shadow: 2px 4px 0 rgb(0 0 0 / 20%);
      border-radius: 14px;
      margin: 0 auto;
      max-width: fit-content;
      background-color: $main_color;
      margin-bottom: 60px;
      min-width: 215px;
      .btn{
        display: none;
        width: 100%;
        text-align: center;
        padding: 17.5px 25px;
        background-color: $main_color;
        box-shadow: none;
        color: $black;
        position: relative;
      }
    }
    .tabs .tabs__caption .btn.active {
      display: block;
    }
    .tabs .tabs__caption.tab_active li {
      display: block;
      &:after{
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 80%;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        background-color: $black;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }
    .tabs .tabs__caption:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 21px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13.9px 8px 0 8px;
      border-color: $black transparent transparent transparent;
      pointer-events: none;
      transition: .3s;
    }
    .tabs .tabs__caption.tab_active:after {
      transform: rotate(180deg);
    }
    //end of mobile tabs

    &.tabs__caption .btn {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      width: 33.3333%;
      border-left: 2px solid;
      border-right: 2px solid;
      border-top: 2px solid;
      box-shadow: none;
      height: 100%;
      font-size: 14px;
    }
    .calculator__title{
      padding: 0 0 30px 0;
    }
    .tabs__content .table-1 .table-1__item {
      padding: 10px 25px;
    }
    .samples-mobile-table{
      position: relative;
      cursor: pointer;
      height: 100%;
      border-radius: 0 14px 0 0;
    }
    .mobile-hide select{
      & + select{
        margin-top: 13px;
      }
    }
    .table-1__item{
      min-height: max-content;
    }
    .tabs__content.active .table-1 .table-1__item.samples-mobile-table,
    .tabs__content.active .table-1-5-rows .table-1__item.samples-mobile-table{
      padding: 10px 28px 10px 10px;
    }
  }
  @media (max-width: 480px)  {
    .calculator__title{
      h1{
        font-size: 36px;
      }
      picture{
        height: 110px;
      }
    }
  }
}

//dropdown
.samples-mobile-dropdown{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  border-top: 2px solid $black;
  border-bottom: 2px solid $black;
  & li{
    border: 1px solid $black;
    display: grid;
    align-items: center;
    text-align: left;
    min-height: 90px;
    padding: 10px;
    color: $black;
    height: 100%;
  }
}
.samples-mobile-table.active{
  .samples-mobile-dropdown{
    display: block;
  }
  .triangle-btn{
    transform: rotate(180deg);
  }
}
.profitCalc-table-title{
  background-color: $light_blue;
}
.samples-mobile-first-table,
.samples-mobile-second-table{
  height: 100%;
}
.desktop-hide {
  display: none;
}
.mobile-hide{
  display: grid;
  align-items: center;
  height: 100%;
}
.mobile-hide_end{
  justify-items: flex-end;
}
.center{
  display: grid;
  align-items: center;
  height: 100%;
}
.triangle-btn{
  @media (max-width: 768px) {
    content: '';
    position: absolute;
    display: block;
    top: 17px;
    right: 11px;
    border-style: solid;
    border-width: 13.9px 8px 0 8px;
    border-color: $black transparent transparent transparent;
    transition: transform .3s;
  }

}