.background-top{
  height: 180px;
  background-color: $red;
  @media (max-width: 992px) {
    display: none;
  }
}
.product{
  padding: 100px 0;
  border-top: 2px solid $black;
  &__body{
    display: grid;
     grid-template-columns: 28.4722222% 37.1527776% 20.625%;
     column-gap: 6.9444444%;
      min-width: 0;
    & > *{
      min-width: 0;
    }
  }
  hr{
    height: 2px;
    width: 100%;
    background-color: $black;
    margin: 40px 0;
  }
}
.navigation{
  a{
    font: 600 14px/1 "Service gothic", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 14px;
    padding: 0.375em 0.625em;
    position: relative;
    color: $black;
    white-space: nowrap;
    & + a{
      margin: 0 0 0 14px;
    }
  }
  a:not(:last-child):after{
    content: '>';
    position: absolute;
    color: $black;
    opacity: .3;
    top: 7px;
    right: -15px;
  }
}
//Left
.description{
  h1{
    font: 600 72px/1 "Service gothic", sans-serif;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 30px 0;
  }
  h2{
    font-family: 'Moderat', sans-serif;
    font-style: normal;
    font-weight: normal;
    @include adaptiv-value('font-size', 30, 18, 1);
    line-height: 1.25;
    letter-spacing: -0.02em;
  }
  &__text{
    font-family: "Moderat", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    @include adaptiv-value('font-size', 18, 14, 1);
    letter-spacing: -0.01em;
  }
  .great-for{
    h4{
      font-family: 'Moderat', sans-serif;
      font-weight: 600;
      line-height: 1.1;
      @include adaptiv-value('font-size', 25, 20, 1);
      text-align: center;
      letter-spacing: -0.03em;
      margin: 0 0 40px 0;
    }
    &__items{
      display: flex;
      justify-content: space-between;
      & > *{
        flex-basis: 100%;
      }
    }
  }
  .great-for__item{
    justify-self: center;
    picture{
      display: block;
      margin: 0 auto 15px;
      background-color: $main_color;
      border-radius: 50%;
      width: 85px;
      height: 85px;
      padding: 11px;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    font: bold 14px/18px "Moderat", sans-serif;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
  .great-for__item:last-child{
    picture:last-child{
      padding: 8px 14px 12px 22px;
    }
  }
}
//center
.image{
  .mainCarousel{
    width: 100%;
    height: 100%;
    @extend .slider-main-settings;
    & .slick-list{
      height: 100%;
    }
    & .slick-track{
      height: 100%;
    }
    &__slide{
      height: 100%;
      position: relative;
      picture{
        background-color: $light_blue;
        border-radius: 60px;
        display: block;
        @include adaptiv-value("height", 800, 410, 1);
        text-align: center;
        position: relative;
        img{
          @include adaptiv-value("height", 590, 367, 1);
          object-fit: contain;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
.click-to-zoom{
  position: absolute;
  right: 40px;
  top: 666px;
  @include adaptiv-value("top", 666, 276, 1);
  width: 80px;
  height: 80px;
  background-color: $pink;
  border: 2px solid $black;
  border-radius: 14px;
  &:before,
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/icons/mini-arrow.svg") center/contain no-repeat;
  }
  &:before{
    top: 20px;
    right: 20px;
  }
  &:after{
    bottom: 20px;
    left: 20px;
    transform: rotate(-180deg);
  }
}
//right
.features{
  a{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      right: 0;
      transform: translate(-20px, -50%);
      width: 65px;
      height: 20px;
      background: url("../img/icons/arrow-right.svg") center/contain no-repeat;
    }
  }
  a{
    min-width: 150px;
  }
  a.btn.bg-pink{
    text-align: left;
    width: 100%;
    min-height: 107px;
    margin-bottom: 20px;
    padding: 15px 20px;
    span:first-child{
      font: 36px/1.1 'Recoleta', sans-serif;
      text-transform: capitalize;
    }
    span:last-child{
      font: 18px/26px "Moderat", sans-serif;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
  }
  a.btn.bg-main{
    text-align: left;
    width: 100%;
    padding: 15px 100px 15px 20px;
    span{
      font: bold 14px/18px "Moderat", sans-serif;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
  }
  &__block{
    border: 2px solid $black;
    margin: 25px 0 0 0;
    h5{
      font: bold 18px/1 "Service gothic", sans-serif;
      text-transform: uppercase;
      padding: 10px 20px;
    }
    .features__body{
      border-top: 2px solid $black;
      padding: 25px 25px 25px 70px;
      li{
        font: bold 14px/18px "Moderat",sans-serif;
        letter-spacing: 0.15em;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          display: block;
          width: 31px;
          height: 31px;
          border-radius: 50%;
          background-color: $pink;
          top: 50%;
          left: 0;
          transform: translate(-50px, -50%);
        }
        & + li{
          margin: 24px 0 0 0;
        }
      }
    }
  }
  .thumbCarousel{
    width: 100%;
    height: 90px;
    margin-top: 60px;
    @extend .slider-main-settings;

    & .slick-list{
      height: 100%;
    }
    & .slick-track{
      height: 100%;
    }
    &__slide{
      height: 100%;
      margin: 0 7.5px;
      cursor: pointer;
      &:hover{
        picture{
          border-color: $cream;
        }
      }
      picture{
        background-color: $light_blue;
        display: block;
        height: 100%;
        border: 2px solid $black;
        text-align: center;
        position: relative;
        transition: border-color .3s ;

        img{
          height: 75%;
          object-fit: contain;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
//media for product section
@media (max-width: 992px)  {
  .product__body{
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}


//specs
.specs{
  .tabs__caption{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $black;
    & > *{
      flex-basis: 100%;
    }
    li{
      background: $secondary;
      padding: 15px 0;
      position: relative;
      text-align: center;
      cursor: pointer;
      color: $black;
      transition: background-color .3s ease;
      font: bold 20px/1.2 "Moderat", sans-serif;
      a{
        color: $black;
      }
      &:hover{
        background: $light_blue;
        .menu__close:before {
          transform: rotate(-90deg);
        }
      }
      &.active{
        background-color: $main_color;
        .menu__close:before {
          transform: rotate(-90deg);
        }
      }
      & + *{
        border-left: 2px solid $black;
      }
      .menu__close{
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        opacity: 1;
        cursor: pointer;
        pointer-events: none;
      }
      .menu__close:before, .menu__close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 24px;
        width: 3px;
        background-color: $black;
        transition: transform .3s ease;
      }
      .menu__close:before {
        transform: rotate(0deg);
      }
      .menu__close:after {
        transform: rotate(-90deg);
      }
    }
  }
  .tabs__content.active{
    padding: 100px 0;
  }
  .specs__info{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 120/1440*100%;
    row-gap: 78px;
    height: 100%;
    .specs__item{
      display: grid;
      grid-auto-flow: row;
      grid-template: auto 1fr auto/ 1fr;
      h5{
        font: bold 20px/1.2 "Moderat", sans-serif;
        margin-bottom: 24px;
      }
      .hr{
        margin-top: 35px;
        height: 2px;
        background-color: $black;
        width: 100%;
      }
    }
  }
  .specs__table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 40/1440*100%;
    .technical,
    .electrical,
    .capacity,
    .refrigerant{
      display: grid;
      grid-auto-flow: dense;
      grid-template-columns: minmax(150px, 240px) 1fr;
    }
    .table {
      border: 1px solid $black;
      & > *{
        padding: 12px 20px;
        border: 1px solid $black;
      }
    }
  }
  .specs__table-left{
    display: grid;
    row-gap: 40px;
  }
  .specs__table-right{
    display: grid;
    row-gap: 40px;
    grid-template-rows: 1fr auto 1fr auto 1fr auto;
    .capacity{
      grid-row-start: 2;
    }
    .refrigerant{
      grid-row-start: 4;
    }
    .notes{
      grid-row-start: 6;
    }
  }
}
