//ticker
#marquee6{
  height: 60px;
  padding: 13px;
  @extend .text;
  color: $light_blue;
  background-color: $secondary;
  .ticker{
    position: relative;
  }
  .ticker:after{
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background: url("../img/icons/smile-light-blue.svg") center / cover no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
  }
}
//end ticker

//products
.products{
  padding: 227px 0 0;
  @media (max-width: 992px){
    padding: 110px 0 0;
  }
  &__title{
    font-family: 'Recoleta', sans-serif;
    @include adaptiv-value('font-size', 100, 60, 1);
    line-height: 1;
    @include adaptiv-value('padding-bottom', 60, 15, 1);
  }
  &__category{
    min-width: 0;
  }
}
//category
.category{
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 0;
  & > *{
    flex: 0 1 100%;
  }
  & .slick-list{
    overflow: hidden;
  }
  & .slick-track{
    display: flex;
    align-items: center;
  }
  &__item{
    font: bold  18px/1.22 "Service gothic", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: $light_blue;
    cursor: pointer;
    transition: background-color .3s;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    @media (max-width: 768px){
      padding: 13px 19px;
      min-height: 43px;
      margin: 0 5px;
      background: #BDCEE7;
      color: $secondary;
    }
    &:hover{
      background-color: rgba(248, 242, 227, .6);
      color: $secondary;
    }
    &._active{
      color: $secondary;
      background-color: $light;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
//end category

//filter
.filter{
  display: grid;
  grid-template-columns: 242px 1fr;
  height: 100%;
  column-gap: 7.7%;
  justify-content: space-between;
  padding: 55px 15px 90px;
  @media (max-width: 992px){
    grid-template-columns: 1fr;
    padding: 32px 15px 90px;
  }
  &__aside{
    padding: 17px 0 0 0;
    @media (max-width: 992px){
      display: flex;
      justify-content: space-between;
      position: relative;
      padding: 0;
      & > *{
        flex-basis: 100%;
        position: absolute;
        width: 48.6666667%;
      }
    }
    //features

    .features__block{
      margin: 0;
      border: 1px solid transparent;
      transition: border .2s ease-in-out;
      @media (max-width: 992px){
        left: 0;
        z-index: 10;
        &.active{
          border: 1px solid $black;
          & .spoiler-head:after{
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
      .spoiler-head{
        position: relative;
        padding: 0 20px 20px 0;
        font: bold 18px/1 "Service gothic",sans-serif;
        text-transform: uppercase;
        &:after{
          top: 5px;
          transform: translateY(0);
        }
        span{
          color: $light;
          background-color: $black;
          border-radius: 50%;
          padding: 5px 11px;
          margin: 0 0 0 15px;
          display: none;
        }
        @media (max-width: 992px){
          padding: 20px 10px;
          font-size: 20px;
          border-bottom: 1px solid $black;
          &:after{
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
          }
        }
        @media (min-width: 993px) {
          &:before{
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 24px;
            height: 22px;
            background: url("../img/icons/filter.svg") center / cover no-repeat;
          }
        }
      }
      .features__body{
        border-top: 1px solid $black;
        padding: 25px 25px 25px 50px;
        li{
          cursor: pointer;
        }
        li.checked{
          &:after{
            background-color: $black;
          }
        }
        @media (min-width: 992px){
          display: block;
        }
        @media (max-width: 992px){
          border-top: none;
          padding: 25px 25px 25px 60px;
        }
        @media (max-width: 768px){
          padding: 14px 14px 14px 45px;
          li{
            font-size: 10px;
            & + li{
              margin: 17px 0 0 0;
            }
            &:after{
              width: 16px;
              height: 16px;
              transform: translate(-30px, -50%);
            }
          }
        }
      }
    }
  }
  .result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5%;
    row-gap: 60px;
    align-items: flex-start;
    @media (max-width: 992px) {
      padding: 108px 0 0 0 ;
      row-gap: 25px;
    }
    @media (max-width: 480px){
      grid-template-columns: repeat(2, 1fr);
    }
    h3{
      font: bold 36px/1 "Service gothic",sans-serif;
      text-transform: uppercase;
      padding: 0 0 20px 0;
      grid-column: 1 / -1;
      position: relative;
      &:first-child{
        border-bottom: 1px solid $black;
      }
    }
    hr{
      grid-column: 1 / -1;
      background-color: $black;
      height: 1px;
    }
    .products__item{
      overflow: hidden;
      border-radius: 30px;
      height: 100%;
      max-width: 320px;
      min-height: 207px;
      grid-template-rows: auto 1fr;
      &:hover img{
        overflow: hidden;
        transform: scale(1.1);
      }
      picture{
        overflow: hidden;
        margin-top: .5vw;
        margin-bottom: .5vw;
        padding: 0 0 95% 0;
      }
      div{
        border: none;
        color: $black;
        height: initial;
        padding: 20px 15px;
        justify-content: end;
        h6{
          padding: 0;
        }
      }
    }
    .products__item+.products__item {
      border-left: none;
    }
    ._hide{
      display: none;
    }
  }
}

.category__item._active[data-filter="hardeningCabinets"].products__filter .result h3[data-category="hardeningCabinets"]{
    border-bottom: 1px solid $black;
  }

//end filter

//result header
.result__header{
  position: relative;
}
.counter{
  font: bold 14px/1 "Moderat", sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: absolute;
  top: 55px;
  transform: translate(0, -50%);
  right: 0;
  padding: 0 0 0 55px;
  z-index: 1;
  @media (max-width: 992px){
    top: 100%;
    left: 0;
    padding: 0;
  }
}
//end result header

//capacity
.capacity{
  border: 1px solid transparent;
  transition: border .2s ease-in-out;
  @media (max-width: 992px) {
    right: 0;
    z-index: 10;
    &.active {
      border: 1px solid $black;
      & .spoiler-head:after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &._hide{
    display: none;
  }
  @media (min-width: 992px){
    margin-top: 90px;
  }
  .spoiler-head{
    font: bold 18px/1 "Service gothic",sans-serif;
    text-transform: uppercase;
    position: relative;
    padding: 0 20px 20px 0;
    pointer-events: none;
    @media (max-width: 992px) {
      font-size: 20px;
      padding: 20px 10px;
      pointer-events: all;
      cursor: pointer;
      border-bottom: 1px solid $black;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        transition: transform .3s ease;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8.7px 5px 0 5px;
        border-color: $black transparent transparent transparent;

      }
    }
  }
  .capacity__body{
    border-top: 1px solid $black;
    position: relative;
    @media (max-width: 992px) {
      display: none;
      padding: 0 10px 10px 10px;
      border-top: none;
    }
    @media (min-width: 992px){
      display: block;
    }
  }
  label{
    display: block;
    font: bold 14px/1 "Moderat", sans-serif;
    text-transform: uppercase;
    color: $black;
    margin:  19px 0 10px;
    letter-spacing: 0.15em;
    @media (max-width: 768px){
      font-size: 10px;
    }
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: bold 14px/1 "Moderat", sans-serif;
    text-transform: uppercase;
    color: $black;
    margin:  10px 0 0;
    letter-spacing: 0.15em;
    @media (max-width: 768px){
      font-size: 10px;
    }
  }
  //style input
  .bar,
  .bar2,
  .bar3,
  .bar4{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 52px;
    width: 100%;
    height: 2px;
    background-color: $cream;
  }
  .fill,
  .fill2,
  .fill3,
  .fill4{
    display: block;
    width: 0;
    height: 6px;
    background-color: $cream;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  input{
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    z-index: 2;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 19px;
    height: 19px;
    background: $light;
    border: 2px solid $cream;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -9px;
    transition: .3s ease-in-out;
  }
  input[type=range]::-moz-range-thumb {
    width: 19px;
    height: 19px;
    background: $light;
    border: 2px solid $cream;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -9px;
    transition: .3s ease-in-out;
  }
  input[type=range]::-moz-range-thumb:hover{
    box-shadow: 0 0 0 5px $cream;
  }
  input[type=range]::-webkit-slider-thumb:hover{
  box-shadow: 0 0 0 5px $cream;
  }
  input[type=range]:active::-moz-range-thumb:hover{
    box-shadow: 0 0 0 8px $cream;
  }
  input[type=range]:active::-webkit-slider-thumb:hover{
    box-shadow: 0 0 0 8px $cream;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  @media (max-width: 992px){
    .bar,
    .bar2,
    .bar3,
    .bar4{
      position: relative;
      top: 12px;
      display: block;
    }
  }
}
//end capacity


//links section
.links{
  border-top: 2px solid $black;
  h6{
    font: bold 14px/1 "Moderat",sans-serif;
    text-transform: uppercase;
    color: $black;
    letter-spacing: .15em;
  }
  h5{
    font: 30px/127% "Moderat", sans-serif;
    letter-spacing: -0.02em;
    padding: 20px 0 13px;
  }
  p{
    font: 18px/144% "Moderat", sans-serif;
    letter-spacing: -0.02em;
    padding: 0 0 10px 0;
  }
  &__content:first-child{
    .links__img{
      flex-basis: 50%;
      height: 100%;
      position: relative;
      transition: opacity .3s ease .3s,transform .8s ease .3s;
      opacity: 0;
      transform: translateY(20%);
      [alt="better together"]{
        max-width: 140px;
        max-height: 140px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(35%, -35%);
      }
      [alt="boy with ice-cream"]{
        max-height: 210px;
        max-width: 210px;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(77%, -75%);
        border: 2px solid $red;
        border-radius: 50%;
        box-shadow: 7px 7px 0 rgb(0 0 0 / 0.2);
      }
    }
  }
  &__content:last-child{
    position: relative;
    .links__img{
      img[alt="193 Series"]{
        position: absolute;
        bottom: 0;
        display: block;
        right: 0;
        @include adaptiv-value('height', 400, 300, 1);
        transition: opacity .3s ease .3s,transform .8s ease .3s;
        opacity: 0;
        transform: translateY(20%);
      }
    }
  }
  // animation
  .links__content:first-child .links__img._active{
    opacity: 1;
    transform: translateY(0);
  }
  .links__content:last-child .links__img._active{
    img[alt="193 Series"]{
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media (min-width: 993px )  {
  .links{
    overflow: hidden;
    background-image: linear-gradient( to right, $pink 50%, $main_color 50%);
    h5{
      padding: 24px 0 25%;
    }
    p{
      padding: 0 0 35px 0;
    }
  }
  .links__body{
    display: flex;
    height: 100%;
    & > *{
      width: 100%;
    }
  }
  .links__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 40px;
  }
  .links__text{
    flex-basis: 50%;
  }
  .links__content:first-child{
    padding-right: 5.6%;
  }
  .links__content:last-child{
    padding-left: 5.6%;
    border-left: 2px solid $black;
    p {
      max-width: 250px;
    }
    img[alt="193 Series"]{
      right: -45px;
    }
  }
}
@media (max-width: 992px ){
  .links{
    .container{
      padding: 0;
    }
  }
  .links__content{
    padding: 36px 15px;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & >  *{
      flex-basis: 100%;
    }
  }
  .links__content:first-child{
    background-color: $pink;
    border-bottom: 2px solid $black;
    .links__img{
      flex-basis: 100%;
    }
  }
  .links__content:last-child{
    background-color: $main_color;
  }
}
@media (max-width: 768px) {
  .links__content{
    display: block;
  }
  .links__content:first-child {
    .links__img {
      transform: translateY(100px);

      [alt="better together"] {
        right: 0;
        transform: translate(-110px, 85%);
        max-width: 120px;
        max-height: 120px;
      }

      [alt="boy with ice-cream"] {
        right: 0;
        transform: translate(-15px, 12%);
      }
    }

    //animation
    .links__content:first-child .links__img._active {
      opacity: 1;
      transform: translateY(0);
    }
    .links__content:last-child .links__img._active{
      img[alt="193 Series"]{
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
//end of links section
//end products