//ticker
#marquee6{
  height: 60px;
  padding: 13px;
  @extend .text;
  color: $light_blue;
  background-color: $secondary;
  .ticker{
    position: relative;
  }
  .ticker:after{
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    background: url("../img/icons/smile-light-blue.svg") center / cover no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
  }
}
//end ticker

//products
.products{
  padding: 152px 0 0;
  &__title{
    font-family: 'Recoleta', sans-serif;
    @include adaptiv-value('font-size', 100, 60, 1);
    line-height: 1;
    @include adaptiv-value('padding-bottom', 60, 15, 1);
  }
  &__category{
    min-width: 0;
  }
}
//category
.category{
  display: flex;
  align-items: center;
  justify-items: center;
  min-width: 0;
  & > *{
    flex: 0 1 100%;
  }
  & .slick-list{
    overflow: hidden;
  }
  & .slick-track{
    display: flex;
    align-items: center;
  }
  &__item{
    font: bold  18px/1.22 "Service gothic", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: $light_blue;
    cursor: pointer;
    transition: background-color .3s;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: rgba(248, 242, 227, .6);
      color: $secondary;
    }
    &._active{
      color: $secondary;
      background-color: $light;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
//end category

//filter
.filter{
  display: grid;
  grid-template-columns: 242px 1fr;
  height: 100%;
  column-gap: 7.7%;
  justify-content: space-between;
  padding: 55px 15px 90px;
  .filter__aside{
    .features__block{
      border: none;
      margin: 0;
      .spoiler-head{
        position: relative;
        padding: 0 20px 20px 0;
        font: bold 18px/1 "Service gothic",sans-serif;
        text-transform: uppercase;
        &:after{
          top: 5px;
          transform: translateY(0);
        }
        @media (min-width: 992px) {
          &:before{
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 24px;
            height: 22px;
            background: url("../img/icons/filter.svg") center / cover no-repeat;
          }
        }
      }
      .features__body{
        border-top: 1px solid $black;
        padding: 25px 25px 25px 50px;
      }
    }
  }
}
//end filter

//capacity
.capacity{
  @media (min-width: 992px){
    margin-top: 90px;
  }
  .spoiler-head{
    font: bold 18px/1 "Service gothic",sans-serif;
    text-transform: uppercase;
    position: relative;
    padding: 0 20px 20px 0;
    pointer-events: none;
    @media (max-width: 992px) {
      pointer-events: all;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        right: 20px;
        transform: translateY(0);
        transition: transform .3s ease;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8.7px 5px 0 5px;
        border-color: $black transparent transparent transparent;

      }
    }
  }
  .capacity__body{
    border-top: 1px solid $black;

    @media (max-width: 992px) {
      display: none;
    }
  }
  label{
    display: block;
    font: bold 14px/1 "Moderat", sans-serif;
    text-transform: uppercase;
    color: $black;
    margin:  19px 0 10px;
  }
  input{
    width: 100%;
  }
}
//end products