body.lock{
  overflow: hidden;
}

h3{
  font: 700 72px/86px "Service gothic",sans-serif;
  text-transform: uppercase;
}
h4{
  letter-spacing: -0.02em;
  font: normal 30px/38px "Moderat",sans-serif;
  text-transform: capitalize;
}
//p{
//  font-size: 1.2rem;
//  font-weight: 600;
//}
//banner
.banner{
  position: relative;
  .container{
    position: relative;
  }
}
h1 span{
  display: block;
}
h1 span:first-child{
  font-family: Recoleta;
  line-height: .7;

  @include adaptiv-value("font-size", 120, 40, 1);
}
h1 span:nth-child(2){
  @include adaptiv-value("font-size", 150, 60, 1);
  font-family: "Service gothic";
  line-height: 1;
  letter-spacing: -0.04em;
  font-weight: 700;

  text-transform: uppercase;
}
h1 span:nth-child(3){
  @include adaptiv-value("font-size", 30, 14, 1);
  font-family: "Moderat";
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: normal;
  text-transform: uppercase;
}
.banner__title{
  justify-content: flex-start;
  color: $light;
}
.banner__body{
  background-color: #7474d9;
  grid-template-columns: 60% 40%;
  position: relative;
}
.banner__left{
  position: absolute;
  top: 0;
  left: 0;
  width: 59%;
  height: 100vh;
  background-color:$secondary;
  background-image: url("../img/mascot.png");
  background-position: bottom left;
  background-size: 450px;
  background-repeat: no-repeat;
  z-index: -1;
  border-bottom:  4px solid $black;
}
.banner__right{
  position: absolute;
  top: 0;
  right: 0;
  width: 41%;
  height: 100vh;
  background: url("../img/ice-cream.jpg") center/cover no-repeat;
  z-index: -1;
  border-bottom:  4px solid $black;
  border-left:  4px solid $black;
}
.banner__img{
  display: block;
  position: absolute;
  height: 253px;
  bottom: 100px;
  right: 2%;
  & img{
    height: 100%;
    object-fit: contain;
  }
}
.banner__finger {
  position: absolute;
  right: 43%;
  bottom: -55px;
  & img {
    height: 208px;
  }
}

//values
@media (max-width: 768px) {
  .values{
    display: none;
}
}
.values .container{
  flex-direction: column;
  padding: 0 80px;
  h3{
    font: 700 72px/86px "Service gothic", sans-serif;
  }
  h4{
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
    font: normal 30px/38px "Moderat", sans-serif;
  }
  p{
    font: normal 18px/26px "Moderat", sans-serif;
    letter-spacing: -0.01em;
    max-width: 700px;
    margin-bottom: 70px;
  }
}
.values__images{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 100px 1fr 100px 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin-bottom: 7rem;
}

.values__images > div{
  transform: translate(0, 120%);
  opacity: 0;
  transition: all .5s ease 0s;
}
.values__images._active > div:nth-child(1){
  transition: all .5s ease 0.2s;
}
.values__images._active > div:nth-child(2){
  transition: all .5s ease 0.4s;
}
.values__images._active > div:nth-child(3){
  transition: all .5s ease 0.6s;
}
.values__images._active > div:nth-child(4){
  transition: all .5s ease 0.8s;
}
.values__images._active > div:nth-child(5){
  transition: all .5s ease 1s;
}


.values__images._active > div{
  transform: translate(0, 0);
  opacity: 1;
}

.values .character {
  position: relative;
  height: 250px;
  h5{
    color: $black;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    right: 50%;
    font-size: 1.4rem;
  }
  #up,
  #up-2{
    top: -60px;
  }
  #down{
    bottom: -60px;
  }
  & img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain;
  }
}
.arrow img{
  width: 100px;
}

//values-mobile
.values-mobile{
  display: none;
}
@media (max-width: 768px) {

  .values-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    min-height: 700px;
    padding-bottom: 54px;
    & .container{
      min-width: 0;
    }
    .values__title{
      margin-bottom: 20px;
    }
    & p{
      font: normal 18px/1.4 "Moderat", sans-serif;
      text-align: center;
      letter-spacing: -0.01em;
    }
  }
  .values-mobile-slider{
    position: relative;
    & .slick-list{
      overflow: hidden;
    }
    & .slick-track{
      display: flex;
      align-items: center;
    }
    .character {
      position: static;
      text-align: center;

      & img{
        height: 170px;
      }
      h5 {
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        position: static;
        right: 50%;
        font-size: 1.4rem;
      }
    }
    & .character h5{
      top: -70px;
    }
    & .slick-arrow {
      position: absolute;
      top: 100%;
      //margin: -15px 0 0 0;
      z-index: 10;
      font-size: 0;
      display: block;
      margin: 30px auto;
      width: 25px;
      height: 25px;
      border-top: 2px solid $black;
      border-left: 2px solid $black;
      background-color: $light;
      &.slick-prev {
        transform: rotate(-45deg);
        left: 0;
      }
      &.slick-next {
        transform: rotate(135deg);
        right: 0;
      }
      &.slick-next::after,
      &.slick-prev::after{
        content: "";
        display: block;
        width: 2px;
        height: 45px;
        background-color: $black;
        transform: rotate(-45deg) translate(15px, 4px);
        left: 0;
        top: 0;
      }
    }
    & .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translate(50%, 100%);
      & .slick-active button{
        background-color: $pink;
      }
      & button{
        font-size: 0;
        width: 15px;
        height: 15px;
        background-color: $light;
        border-radius: 50%;
        border: 2px solid $black;
      }
      & li{
        list-style: none;
        margin: 0 10px;
      }
    }
  }
}

//text
#marquee1{
  height: 60px;
  padding: 13px;
}
.text {

  & .ticker{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-right: 3rem;
    font: bold 28px/1 'Moderat', sans-serif ;
  }
  & .ticker-pc{
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 28px;
      height: 31px;
      background: url("../img/icons/smile.svg") center/cover no-repeat;
      top: 50%;
      right: 50%;
      transform: translate(-28%, -45%);
      z-index: 10;
    }
    &::before{
      left: -2.2rem;
    }
  }
  & .ticker-mobile{
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("../img/icons/snowflake.svg") center/cover no-repeat;
      top: 50%;
      transform: translate(0, -9px);
      z-index: 10;
    }
    &::before{
      left: -2.2rem;
    }
  }
}
//offer
@media  (max-width: 992px){
  .offer{
    display: none;
  }
}
.offer__row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-bottom: 20vh;
}
.offer{
  background-image: url("../img/Group 30.png");
  background-repeat: repeat-x;
  background-position: bottom;
}
.offer .container,
.offer-mobile .container{
  color: white;
  flex-direction: column;
  min-width:0;
  h4{
    @include adaptiv-value("margin-bottom", 110, 60, 1);
  }
}
.offer__item{
  position: relative;
  //test test test
  a{
    position: absolute;
    bottom: -100px;
    right: 50%;
    transform: translateX(50%);
  }
  a:hover + img{
    transform: scale(1.3);
  }

  div{
    position: relative;
    padding: 20px;
    max-width: 320px;
    width: 23vw;
    height: 26vw;
    border-radius: 60px;
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      transition: transform .3s ease-in;
    }
  }
}
.face:after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../img/face-child.png");
  background-position: center;
  background-size: cover;
  border: 3px solid $black;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  transform: translate(45%, -50%);
  z-index: 1;
  max-width: 186px;
  max-height: 186px;
}
.amazing:after{
  content: '';
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 186px;
  height: 186px;
  background: url("../img/amazing-value.png") center/contain no-repeat;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 10%);
}

//mobile slider offer
.offer-mobile{
  display: none;
}
@media (max-width: 992px) {
  .offer-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 750px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-position: bottom;
    border-bottom: 2px solid #0c0b0c;
    height: calc(100vh - 130px);
    h3{
      letter-spacing: -0.03em;
      font: 600 40px/40px "Service gothic",sans-serif;
    }
    h4{
      letter-spacing: -0.03em;
      font: normal 20px/24px "Moderat",sans-serif;
    }
    .offer__row-slider {
      position: relative;
      margin-bottom: 30px;

      .slick-list {
        overflow: hidden;
      }

      .slick-track {
        display: flex;
        align-items: center;
      }
    }
    .mobile-btn-offer{
      position: relative;
      display: inline-block;
      & .btn {
        min-width: auto;
      }
      & .slick-arrow {
        position: absolute;
        top: 0;
        //margin: -15px 0 0 0;
        z-index: 10;
        font-size: 0;
        display: block;
        margin: 30px auto;
        width: 25px;
        height: 25px;
        border-top: 2px solid white;
        border-left: 2px solid white;
        background-color: $secondary;
        &.slick-prev {
          transform: rotate(-45deg) translateY(-50%);
          left: -50px;
        }
        &.slick-next {
          transform: rotate(135deg) translateY(47%);
          right: -66px;
        }
        &.slick-next::after,
        &.slick-prev::after{
          content: "";
          display: block;
          width: 2px;
          height: 45px;
          background-color: white;
          transform: rotate(-45deg) translate(15px, 4px);
          left: 0;
          top: 0;
        }
      }
    }
    .face:after {
      width: 125px;
      height: 125px;
      top: -435px;
      right: 0;
    }
  }
  .offer__item picture{
    display: block;
    position: relative;
    padding: 0;
    max-width: 320px;
    max-height: 422px;
    width: 86vw;
    height: 112vw;
    border-radius: 60px 60px 0 0;
    margin: 0 auto;
    & img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
      transition: transform .3s ease-in;
    }
  }
}
//business
.business{
  position: relative;
  border-top: 4px solid $black;
}
.business__title.flex{
  flex-direction: column;
}
.business__title{
  width: 60%;
  text-align: center;
  h3{
    margin-bottom: 2rem;
  }

  h3 span{
    display: inline-block;
    text-transform: none;
  }
  h3 span:nth-child(1){
   @include adaptiv-value("font-size", 28, 10, 1);
    font-family: 'Service Gothic', sans-serif;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
  }
  h3 span:nth-child(2){
    @include adaptiv-value("font-size", 190, 70, 1);
    font-family: 'Recoleta', sans-serif;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
  }
  h3 span:nth-child(3){
    @include adaptiv-value("font-size", 110, 50, 1);
    font-family: 'Recoleta', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }
  strong{
    position: relative;
    z-index: 1;
    font-weight: normal;
  }
  strong:after{
    content: '';
    position: absolute;
    border: 4px solid $main_color;
    border-radius: 50%;
    top: -4%;
    left: -13%;
    width: 124%;
    height: 105%;
  }

}
.business__left{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  background-color: $light_blue;
  z-index: -1;
  .sub-img{
    position: absolute;
    width: 330px;
    height: inherit;
    background: url(../img/Character-03.gif) bottom left/contain no-repeat;
    z-index: -1;
  }
}
.business__right{
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100vh;
  background: url(../img/window.PNG) center/cover no-repeat;
  z-index: -1;
  border-left: 4px solid $black;
}
//consulting

.consulting{
  background: url("../img/training.png") center/cover no-repeat;
  border-top: 4px solid $black;
   p:first-child{
    text-transform: uppercase;
     font: bold 14px/1 'Moderat',sans-serif;
     letter-spacing: 0.15em;
     margin-bottom: 2rem;
  }
  .container.flex{
    flex-direction: column;
  }
  &__img{
    @include adaptiv-value("height", 300, 230, 1);
    margin-bottom: 2rem;
    & img{
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
  h4{
    margin-bottom: 1rem;
    font: normal 30px/38px 'Moderat', sans-serif;
    letter-spacing: -0.02em;
  }
  h3{
    @include adaptiv-value("font-size", 72, 40, 1);
    text-transform: capitalize;
    font-family: 'Recoleta', sans-serif;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .consulting__text{
    font: normal 18px/26px "Moderat",sans-serif;
    letter-spacing: -0.01em;
    max-width: 622px;
    margin-bottom: 2rem;
    opacity: 0;
    transition: all .4s ease-in 0.3s;
    transform: translateY(30%);
  }
  .consulting__text._active{
    opacity: 1;
    transform: translateY(0);
  }
}

//marquee

.marquee{
  width:100%;
  white-space:nowrap;
  overflow:hidden;
}


.marquee a{
  color: $light_blue;
  text-transform: uppercase;
  position: relative;
  margin-left: 3rem;
  font: bold 28px/1 'Moderat', sans-serif ;

  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../img/icons/play.svg") center/contain no-repeat;
    top: 7px;
    right: -36px;
  }
}
.marquee {
  overflow: hidden;
  font-size: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;
}
@media (min-width: 768px) {
.ticker-mobile{
  display: none;
}
}

.marquee__inner {
  font-size: 2rem;
  white-space: nowrap;
  display: inline-block;
}


//story
.story .story__title{
  flex-direction: column;
  align-items: flex-start;
  padding-left: 55%;
  & p:first-child{
    text-transform: uppercase;
    font: bold 14px/1 "Moderat",sans-serif;
    letter-spacing: .15em;
    @include adaptiv-value('margin-bottom',60 ,10 ,1);
  }
  & p{
    font: bold 14px/1.5 "Moderat",sans-serif;
    letter-spacing: .15em;
    text-transform: uppercase;
    & span:last-child{
      font-weight: normal;
    }
  }
  blockquote{
    font-family: 'Moderat', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 10px 0 20px 0;
    @include adaptiv-value('font-size',36 ,24 ,1);

    opacity: 0;
    transition: all .6s ease-in 0.2s;
  }
  blockquote._active{
    opacity: 1;
  }
}
.story{
  position: relative;
  &__left{
    background: url("../img/hand.jpg") center/cover no-repeat;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    border-bottom: 4px solid $black;
    border-top: 4px solid $black;
  }
  &__right{
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    border-bottom: 4px solid $black;
    border-top: 4px solid $black;
    border-left: 4px solid $black;
    background-color: $main_color;
    background-image: url("../img/Character-05-cropped.gif");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 300px;

  }
}

//contact

.contact .grid{
  grid-template-columns: 1fr 240px;
}
.contact{
  border-bottom: 4px solid $black;
  h3{
    font-family: 'Recoleta', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-transform: none;
    @include adaptiv-value('font-size',55 ,20 ,1);
  }
  h4{
    font: normal 18px/1.4 'Moderat', sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}
//footer
.footer{
  font: normal 14px/1 "Moderat",sans-serif;
  letter-spacing: .15em;
  & .grid{
    grid-template-rows: auto 45px ;
  }
  & .footer__logo{
    order: 1;
    a{
      display: inline-block;
    }
  }
  & .footer__rights{
    order: 3;
    letter-spacing: normal;
    color: $main_color;
    align-self: flex-end;
    a{
      color: $main_color;
    }
  }
  & .footer__menu{
    order: 2;
    justify-self: flex-end;
    li{
      & + li{
        margin-left: 55px;
      }
    }
    a{
      text-transform: uppercase;
      color: $main_color;
    }
  }
  &__social {
    justify-self: flex-end;
    order: 4;
    color: $main_color;
    text-transform: uppercase;
    span{
      margin-right: 26px;
    }
    a{
      display: inline-block;
      margin-left: 20px;
    }
    img{
      height: 34px;
    }
  }
}
//media query
@media (max-width: 1200px){
  ul .menu__sub-list{
    flex-wrap: nowrap;
    height: auto;
    min-width: 570px;
  }
}

@media (max-width: 992px){
  .banner .container {
    margin-top: 70px;
    background-color:$secondary;
    background-image: url("../img/mascot.png");
    background-position: bottom left;
    background-size: 220px;
    background-repeat: no-repeat;
    border-bottom:  2px solid black;
  }
  .banner__title {
    width: 100%;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    min-height: 320px;
    margin-top: -70px;
  }
  .banner__left {
    display: none;
  }
  .banner__right {
    position: relative;
    width: 100%;
    height: 50vh;
    border-left: none;
  }
  .banner__img {
    bottom: -130px;
    right: 10%;
    width: 114px;
  }
  .banner__finger {
    bottom: calc(-50vh - 52px);
    width: 130px;
    height: 130px;
    right: 61%;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .footer{
    .grid{
      grid-template-columns: 142px 1fr;
    }
    .footer__menu{
      display: none;
    }
    .footer__social{

      span {
        display: none;
      }
    }
    .footer__logo{
    }
    .footer__rights{
      grid-row: 2/3;
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      & span:nth-child(2){
        display: none;
      }
      & span:first-child{
        order: 2;
      }
      & a{
        order: 1;
        margin-bottom: 6px;
      }
    }
  }
}
@media (max-width: 768px) {
  .vh {
    min-height: 100%;
  }
  .ticker-pc {
    display: none;
  }
  .business .container {
    background-color: $light_blue;
    background-image: url(../img/Character-03.gif);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: bottom left;
    min-height: calc(60vh - 70px);
    z-index: 1;
    border-bottom: 2px solid #000;
    h3{
      line-height: .8;
    }
  }
  .business__left {
    display: none;
  }
  .business__right {
    position: relative;
    width: 100%;
    min-height: 40vh;
    height: 100%;
    border-left: none;
  }
  .business__title {
    width: 100%;
  }
  .business__btn {
    padding-bottom: 40px;
  }
  #marquee2 {
    display: none;
  }
  .story .container{
    background: url(../img/hand.jpg) center/cover no-repeat;
    z-index: 1;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    height: calc(35vh - 70px);
    min-height: 215px;
    & span{
      display: block;
    }
  }
  .story .story__title{
    padding: 0;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform: translate(0, 170%);
  }
  .story__left{
    display: none;
  }
  .story__right{
    position: relative;
    width: 100%;
    background-size: 200px;
    background-position: 100% 116%;
    height: 65vh;
    min-height: 530px;
    border-top: none;
    border-left: none;
  }
  .consulting{
    background: url(../img/training-mobile.png) center/cover no-repeat;
    height: calc(100vh - 70px);
    min-height: 750px;
  }
  .contact{
    display: none;
  }
  .packages{
    height: calc(100vh - 70px);
    min-height: 820px;
  }
  .packages__title h3{
    line-height: 1;
  }
}

@media (max-width: 370px) {
  .footer .grid {
    grid-template-columns: 1fr;
    justify-items: center;

    .footer__social{
      justify-self: center;
      order: 2;
    }
    .footer__rights{
      order: 3;
      text-align: center;
    }
    .footer__logo{
      order: 1;
    }
  }
}
