.container{
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto;
}
.vh{
  min-height: 100vh;
}
.btn{
  display: inline-block;
  padding: 17.5px 19px ;
  cursor: pointer;
  font: 700 18px/21.6px 'Service gothic', sans-serif;
  color: $black;
  border: 2px solid $black;
  text-transform: uppercase;
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  min-width: 240px;
  text-align: center;
}

.btn.bg-light:hover{
  background-color: $main_color;
}
.btn.bg-main:hover{
  background-color: $light;
}
.btn.bg-pink:hover{
  background-color: $red;
}
.btn.bg-light-blue:hover{
  background-color: $light;
}
.text-center{
  text-align: center;
}
.btn.bg-light.hover-blue:hover{
  background-color: $secondary;
}
//colors
.bg-main{
  background-color:$main_color;
}
.bg-secondary{
  background-color: $secondary;
}
.bg-light-blue{
  background-color: $light_blue;
}
.bg-pink{
  background-color: $pink;
}
.bg-light{
  background-color: $light;
}

.text-main{
color:$main_color;
}
.text-secondary{
  color: $secondary;
}
.text-pink{
  color: $pink;
}
.text-light{
  color: $light;
}
.text-light-blue{
  color: $light_blue;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  height: 100%;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
//text-sizes
.lead{
  font-size: 20px;
}
.sm{
  font-size: 1rem;
}
.md{
  font-size: 2rem;
}
.lg{
  font-size: 3rem;
}
.xl{
  font-size: 4rem;
}
//margin

.my-1{
  margin: 1rem 0;
}
.my-2{
  margin: 1.5rem 0;
}
.my-3{
  margin: 2rem 0;
}
.my-4{
  margin: 3rem 0;
}
.my-5{
  margin: 4rem 0;
}

.m-1{
  margin: 1rem;
}
.m-2{
  margin: 1.5rem;
}
.m-3{
  margin: 2rem;
}
.m-4{
  margin: 3rem;
}
.m-5{
  margin: 4rem;
}

//padding

.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2{
  padding: 1.5rem 0;
}
.py-3{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-4{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-5{
  padding: 4rem 0;
}

.p-1{
  padding: 1rem;
}
.p-2{
  padding: 1.5rem;
}
.p-3{
  padding: 2rem;
}
.p-4{
  padding: 3rem;
}
.p-5{
  padding: 4rem;
}
//circle
.circle-plus {
  width: 90px;
  height: 90px;
  font-size:1rem /*Will change icon size*/;
}
.circle-plus .circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  //top: 50%;
  //right: -50%;
  //transform: translate(-50%, -50%);
  margin: 0;
  background: $cream;
  border: 1.50195px solid #F8F2E3;
  box-sizing: border-box;
  box-shadow: 1.50195px 3.00389px 0 rgba(0, 0, 0, 0.2);
}
.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #DFDAD7;
  width: 2.4rem;
  height: .4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.circle-plus .circle .vertical {
  position: absolute;
  background-color: #DFDAD7;
  width: .4rem;
  height: 2.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.triangle-left,
.triangle-right,
.triangle-top,
.triangle-bottom{
  width: 0;
  height: 0;
  margin: 30px auto;
}
.triangle-left,
.triangle-right{
  border-top:
          18px solid transparent;
  border-bottom:
          18px solid transparent;


}
.triangle-top,
.triangle-bottom{
  border-left:
          18px solid transparent;
  border-right:
          18px solid transparent;
}

.triangle-right{
  border-left:
          30px solid black;
}
.triangle-left{
  border-right:
          30px solid black;
}
.triangle-top{
  border-bottom:
          30px solid black;
}
.triangle-bottom{
  border-top:
          30px solid black;
}
